
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #BAD9A3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #BAD9A3;
    border-radius: 20px;
    padding: 20px;
}

.left-section {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.left-section header {
    margin-bottom: 10px;
}

.right-section {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
    background-color: #F4FFEB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
}


.logo{
    height: 30px;
    margin: 10px;
}

.waste {
    color: #7d2d29;
    font-size: 2rem;
    font-weight: 600;
}

.tracker {
    color: #257c33;
    font-size: 2rem;
    font-weight: 600;
}

.waste-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}



label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.next-btn,
.prev-btn,
.submit-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.section {
    display: none;
}

.section:first-of-type {
    display: block;
}

.file-upload-container {
    margin-bottom: 15px;
    width: calc(100% - 12px);
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px; 
    box-sizing: border-box; 
    background-color: #f8f9fa;
}

/* Media Queries */
@media (min-width: 768px) {
    .container {
        display: flex; 
        align-items: flex-start; 
        width: 150%;
    }

    .logo{
        width: auto;
        height: 50px;
    }

    .bin{
        width: auto;
        height: 320px;
    }

    .waste {
        color: #7d2d29;
        font-size: 3rem;
        font-weight: 600;
    }
    
    .tracker {
        color: #257c33;
        font-size: 3rem;
        font-weight: 600;
    }

    .checkbox-group {
        margin-bottom: 25px;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
        color: #333;
        font-weight: 500;
    }

    .file-upload-container {
        margin-bottom: 25px;
        width: calc(100% - 12px);
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 10px; 
        box-sizing: border-box; 
        background-color: #f8f9fa;
    }

    .checkbox-label {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

